@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}
/* 
# {
    border: 1px solid red;
} */



nav {
    padding: .75rem;
    width: 100%;
    color: whitesmoke;
    background-color: #333;
    display: inline-flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    margin: 1rem; 
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-links {
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    margin: auto 3rem auto auto;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0.5rem;
    font-size: 16pt;
}

div.section {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin-left: 0;
    width: 50%;
}


h3.title {
    margin: 0;
}

.main-content {
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.recipe-links {
    text-align: center;
    padding: 1rem 5rem 1rem 5rem;
    list-style-type: none;
    background-color: rgb(231, 233, 235);
    border-radius: 10%;
}

.recipe-link {
    text-decoration: none;
    font-size: x-large;
    margin: 2rem;
    color: #333;
}

ul.recipe-links > li {
    margin: 1rem 0 1rem 0;
}

ul.recipe-links > li > h3 {
    font-size: x-large;
}

.topsection, .recipe-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(242, 242, 242);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.topsection {
    align-items: center;
}

.recipe-content {
    padding-bottom: 2rem;
}

.recipe-section {
    margin: 2rem 1rem 1rem 1rem;
}

.recipe-info {
}

.recipe-description {
    text-align: center;
    max-width: 40%;
    font-size: large;
    margin: 1rem auto 1rem auto;
}

.image-div {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.recipe-image {
    border: 1px solid black;
    border-radius: 50%;
}

.title-secondary {
    width: fit-content;
    margin: 1rem auto 1rem auto;


}
footer {
    display: inline-flex;
    background-color: whitesmoke;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.footer-link {
    margin: 1rem;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .topsection {
      flex-direction: column;
    }
  }